
body{
margin: 0%;
}
 .top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
   }
      .head{
    color: #66BFBF;
    font-size: 5.625rem;
    padding-top: 1%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    text-align: center;
     }
     
.pro{
    text-decoration: underline;
}
.mount{
    padding-bottom: 0px;
   margin-left: 30%;
}
  .cloud1{
    position: absolute;
    right: 300px;
    top: 40px;
  }
    .cloud2{
        position: absolute;
        left: 250px;
        bottom: 300px;
}
   .middle-container{
    margin: 100px 0;

   }
.dp{
    position: relative;
    left: 44%;
}
.hello{
  
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
}
.intro{
  width: 40%;
  margin: auto;
 font-size:20px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.17em;
  margin-top: 15%;
  margin-left : 57%  ;

}
.dev{
  position: relative;
 float: left;
 padding-right: 2%;
  border-radius: 100%;
  margin-left : 5%  ;
  margin-top: 10%;
}
.btn{
   position: relative;
   margin-left:45%;
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  
}
.bottom-container{
  background-color: #66BFBF;
    padding: 50px 0 20px;

}
.link{
  
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.end{
  margin-left: 43.5%;
  color: #030505;
    font-size: 0.75rem;
    padding: 20px 0;
}
.gif{
  width: 2%;
}
.link:hover{
  border-radius: 80%;
  background-color: #ffffff;
  
}
.btn:hover{
  padding: 0.5%;
  color: rgb(2, 58, 24);
  font-weight: bolder;
  border-radius: 45px;
}